* {
  box-sizing: border-box;
}

body {
  background-color: #edf2f9;
  font-family: open sans, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
}
.grid {
  display: grid;
  grid-template-columns: 200px repeat(5, 1fr);
  grid-template-rows: 60px 90px 800px;
}
header {
  grid-column: 1 / 7;
}
.nav {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
  background-color: #fff;
  width: 100%;
  margin: auto;
  border-radius: 25px;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.left nav {
  display: flex;
  flex-direction: row;
   
  justify-content: start;
   
}
.box {
  width: 180px;
  
}
.right nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
 
 .star {
     display: block;
   
     width: 25px;
     height: 20px;
     
  
 
.menu {
  grid-column: 1 / 2;
  grid-row: 3 / 6;
  
}
.first {
  grid-column: 2 / 3;
  grid-row: 3 / 6;
  
}

.second {
  grid-column: 3 / 4;
  grid-row: 3 / 6;
   
}
.third {
  grid-column: 4 / 5;
  grid-row: 3 / 6;
  
}
.fourtth {
  grid-column: 5 / 6;
  grid-row: 3 / 6;
   
}

.fifth {
  grid-column: 6 / 7;
  grid-row: 3 / 6;
   
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 0;
  align-items: center;
}
.header-text p {
  color: rgb(64, 128, 224);
  font-size: 30px;
  font-weight: bolder;
  width: 80px;
  margin: 0;
}
.header-text {
  display: flex;
  text-align: center;
  width: 250px;
  height: 50px;
  padding-left: 20px;
}
.search {
  width: 320px;
  height: 40px;
  background-color: #fff;
  border-radius: 35px;
  margin: auto 0;
}
.icon {
  display: flex;
  width: 350px;
  height: 50px;
  border: 1px solid #000;
}
 