* {
  box-sizing: border-box;
}

.header_box {
  display: flex;
  background-color: grey;
  color: white;
  flex-direction: column;
  padding-left: 20px;
  height: 100px;
}
.box_row1 {
  padding-top: 15px;
  padding-left: 15px;
}

.box_row2 {
  display: flex;
  background-color: #777;
  height: 55px;
  align-items: center;

}
.box_row2 > div {
   font-size: 20px;
}
.box_row2 div a {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.box_row2 div a:hover {
  background-color: #222;
}

.box_row2 div a.active {
  color: white;
  background-color: #a3eca6;
}

.main_box {
  display: flex;
  flex-direction: row;
  height: 450px;
}

.box1 {
  flex-basis: 25%;
  margin-right: 10px;
  margin-top: 10px;
}
.box2 {
  flex-basis: 75%;
}

.box1 div a {
  margin-bottom: 4px;
  display: block;
  padding: 8px;
  background-color: #eee;
  color: #666;
  text-decoration: none;
}

.box1 div a:hover {
  background-color: #555;
  color: white;
}

.box1 div a.active {
  background-color: #008cba;
  color: white;
}

 .overflow-demo {
  background-color: #eee;
  height: 150px;
  overflow-x: hidden;
  overflow-y: visible;
} 
.box2_row {
  background-color: #2196f3;
  color: white;
  text-align: center;
  padding: 15px;
  height: 80px;
  margin-top: 10px;
}
.box3 {
  background-color: grey;
  color: white;
  padding: 15px;
  font-size: 25px;
}
