    body {
        background-color: rgb(213, 224, 204);
    }
    
    .list {
        font-size: 25px;
    }
    
    h1 {
        color: rgb(121, 131, 112);
        text-transform: uppercase;
    }
    
    ul {
        list-style-type: decimal;
    }
    
    .box {
        position: relative;
    }
    
    .project {
        width: 800px;
        height: 500px;
        background-image: url(../project/images/top-view-books-and-notebook.jpg);
        background-size: cover;
    }
    
    .project a {
        font-size: 40px;
        text-decoration: none;
        color: rgb(75, 60, 19);
        position: absolute;
        top: 150px;
        left: 110px;
    }
    
    a {
        text-decoration: none;
        color: rgb(75, 60, 19);
    }