* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
    color: #595959;
}

.header {
    overflow: hidden;
    padding: 20px 40px;
    margin-right: 80px;
}

.header a {
    float: left;
    color: #595959;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    font-size: 24px;
    line-height: 25px;
}

a.logo {
    font-size: 65px;
    font-family: "Dancing Script", cursive;
    color: rgb(235, 164, 34);
}

.header a:hover {
    color: rgb(235, 164, 34);
}

.header-right {
    float: right;
}

.section {
    background-image: url(../images/row-of-books-as-background-literature-concept.jpg);
    max-width: 100%;
    height: 500px;
    opacity: 0.8;
    background-position: center;
    margin-bottom: 120px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 470px 470px 470px;
    margin-top: 155px;
    justify-content: center;
    gap: 100px 20px;
    width: 80%;
    margin: auto;
}

.item-grid {
    padding: 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 430px;
    justify-content: space-between;
}

img {
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: -95px;
    margin-bottom: 0;
    border: 9px solid #ffffff;
}

.btn {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 25px;
    text-align: center;
}

.item-grid p {
    text-align: justify;
    padding: 15px;
}


/* Кнопки */

.button {
    text-decoration: none;
    display: inline-block;
    width: 170px;
    height: 40px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 45px;
    border-radius: 15px;
    font-size: 45px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #524f4e;
    background: #cccac7;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.button:hover {
    background: rgb(235, 164, 34);
    box-shadow: 0 15px 20px rgba(65, 66, 66, 0.4);
    color: rgb(238, 213, 130);
    transform: translateY(-5px);
}


/* Футер */

footer {
    padding: 40px 0;
    background: #3c3d41;
    color: white;
    height: 100px;
}

.wrap {
    text-align: center;
}

.wrap a {
    padding: 0 15px;
    font-size: 23px;
    color: white;
}


/* Кнопка наверх */

#up {
    height: 100vn;
}

.topNubex {
    position: fixed;
    right: 45px;
    bottom: 45px;
    color: rgb(235, 164, 34);
}


/* Шапка */

@media screen and (max-width: 768px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 400px);
        margin-top: 155px;
        justify-content: center;
        gap: 100px 20px;
        width: 80%;
        margin: auto;
    }
    h1 {
        font-size: 15px;
    }
    p {
        font-size: 10px;
    }
    img {
        width: 50%;
    }
}