* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    background-color: #f5f7fa;
    color: #595959;
}

.header {
    overflow: hidden;
    padding: 20px 40px;
    margin-right: 80px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    font-size: 24px;
    line-height: 25px;
}

a.logo {
    font-size: 65px;
    font-family: 'Dancing Script', cursive;
    color: rgb(235, 164, 34);
}

.header a:hover {
    color: rgb(235, 164, 34);
}

.header-right {
    float: right;
}

span {
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    color: rgb(235, 164, 34);
}

.desc {
    margin: 20px;
    font-size: 20px;
    text-align: justify;
    padding: 20px;
}


/* оформление заголовка */

h3 {
    font-size: 20px;
    width: 100%;
    position: relative;
    display: inline-block;
}

.d14 h3 {
    display: table;
    width: auto;
    margin: 15px auto;
    letter-spacing: 2px;
}

.d14 h3:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -25px;
    width: 30px;
    height: 20px;
    border-top: 2px solid #fed57b;
    border-left: 2px solid #fed57b;
}

.d14 h3:after {
    content: "";
    position: absolute;
    bottom: -50%;
    right: -25px;
    width: 30px;
    height: 20px;
    border-bottom: 2px solid #fed57b;
    border-right: 2px solid #fed57b;
}


/* для шапки */

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

.image {
    max-width: 100%;
    height: 500px;
    opacity: 0.9;
    margin-bottom: 85px;
}


/* Карточки*/

.listing {
    list-style: none;
    margin: 2em;
    display: grid;
    gap: 15px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.listing li {
    border: 1px solid rgb(165, 176, 182);
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}

.listing h2 {
    border-bottom: 1px solid rgb(165, 176, 182);
    text-align: center;
    padding: 5px 0;
    height: 40px;
    margin: 0;
    background-color: rgba(238, 234, 234, 0.911);
    font-size: 15px;
}

img {
    max-width: 100%;
}

.listing img:hover {
    opacity: 0.5;
}

h1 {
    text-align: center;
    padding-top: 60px;
}

.listing p {
    text-align: center;
}