body {
    font-size: 20px;
    background-color:rgb(177, 238, 175);
    font-family:'Times New Roman', Times, serif;
    
}
header {
    background-color: rgb(234, 238, 180);
}
h1 {
    color: rgb(47, 133, 21);
    text-align: center;
}
nav {
    background-color:rgb(234, 238, 180);;
    text-align-last: center ;
    }
h2 {
    color: rgb(47, 133, 21);
}
footer {
    color: lightslategrey;
}




