body {
    font-size: 20px;
    background-color:rgb(216, 242, 252);
    font-family:'Times New Roman', Times, serif;
    text-align:justify;
    margin: 40px;
    }
    header {
        background: url(/nadrudyak.github.io/image/logo.jpg);
        background-position: center;
        width: 100%;
        height: 305px;
        border-radius: 35px;
    }
h1 {
    color: rgb(47, 133, 21);
    text-align: center;
    background-color: rgb(234, 238, 180);
}
nav {
    text-align-last: center ;
    }
 h2 {
        color: rgb(47, 133, 21);
    }

    address {
        color: lightslategrey;
        background-color: lavender;
        }

        .menu {
            list-style-type: none;
            padding-left: 0;
            margin-left: 0;
            text-align-last: center ;
        }
        .menu a {
        text-decoration: none;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: rgb(54, 72, 236);
        display: inline-block;
        padding: 10px 20px;
        background-color: rgb(132, 213, 245);
        border-bottom: 5px solid #58aaee;
        }
        .menu li {
            display: inline;
            float:inline-start;
        }
        
    

    
